

<div class= "row">

  <div class = "col-md-4">
    <a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/matches >Matches</a> 
  </div>

  <div class = "col-md-4">
    <a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/players >Players</a>  
  </div>

  <div class = "col-md-4">
    <a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/ranking >Ranking</a>  
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class = "col-md-4">
  <%= image_tag @player.avatar.url(:medium) %> 
  <br><br>
  <strong>Matches:</strong>
  <br><br>
</div>

<div class = "col-md-8">
  <table>

    <tbody> 
      <% @player.statistics.each do |v, k| %>
      <tr>
        <th><%= v %></th>
        <td><%= k %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


</div>

<table>
  <thead>
    <tr>
      <th>Winner name</th>

      <th>Winner avatar</th>
      <th>Loser name</th>
      <th>Loser avatar</th>
      <th>Match date</th>
      <th>Winner score</th>
      <th>Loser score</th>

    </tr>
  </thead>

  <tbody>
    <% @player.matches.each do |match| %>
    <tr>
      <td><%= Player.find(match.winner).fullname %></td>
      <td><%= image_tag Player.find(match.winner).avatar.url(:thumb) %></td>
      <td><%= Player.find(match.loser).fullname %></td>
      <td><%= image_tag Player.find(match.loser).avatar.url(:thumb) %></td>
      <td><%= match.match_date %></td>
      <td>10</td>
      <td><%= match.loser_score %></td>

    </tr>
    <% end %>
  </tbody>
</table>


